<nav class="navbar bg-body-tertiary header">
    <div class="container-fluid">
      <a class="navbar-brand">
        <img src="checklist.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
        <label class="checklist">Checklist</label>   
        <img src="Signup.png" alt="" class="signup" (click)="signUp()" />
      </a>
    </div>
</nav>
<div class="main">
    <div class="row">
        <div class="col">
            <label class="hello" >Hello,</label>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label class="start" >Get started by creating your first checklist.</label>
        </div>
    </div>
    <div class="row">
            <div class="card">
                <input type="text" class="checklist-title" value="Untitled" placeholder="Untitled" />
                <div class="card-body">
                  <ul class="title-list" *ngIf="todolist">
                    <li *ngFor="let task of todolist; let i = index" class="task-item">                       
                        <input type="checkbox" class="task-checkbox" [(ngModel)]="task.completed" (change)="onCompleteTask(task)" />
                        <input type="text" placeholder="Title..." class="title-text" [(ngModel)]="task.title" [ngClass]="{'completed': task.completed}" />
                        <img src="Trash.png" alt="" width="16" height="16" (click)="deleteTask(task)" class="delete" />
                    </li>                 
                  </ul>
                </div>
                <div class="card-footer">
                    <div class="row foot">
                        <div class="col-8">
                            <img src="Frame.png" alt="" width="24" height="24"  />
                            <label class="completed-tasks">Completed {{completedtasks.length}} of {{todolist.length}}</label>                            
                        </div>
                        <div class="col-4 addtaskplus" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                            <img src="Plus.png" alt="" width="24" height="24"  />
                            <label class="add-task">Add Task</label>
                        </div>
                    </div>
                </div>
              </div>
    
            <div class="signUp-card" style="width: 18rem;" >
                <div class="card-body">      
                  <p class="card-text">Sign up to unlock recurring tasks, publishing, collaborating and more.</p>
                  <button class="btn btn-primary signup-btn">Sign up</button>
                </div>
            </div>
  
    </div>
</div>

<div class="signupcard" style="width: 18rem;" *ngIf="showSignUp">
    <div class="card-body">      
      <p class="card-text">Sign up to unlock recurring tasks, publishing, collaborating and more.</p>
      <button class="btn btn-primary signup-btn">Sign up</button>
    </div>
</div>

  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">New Task</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <!-- <input type="checkbox" class="task-checkbox"  [(ngModel)]="newTask.completed"/> -->
            <input type="text" placeholder="New Task..." class="title-text" [(ngModel)]="newTask.title" />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" (click)="addTask()" data-bs-dismiss="modal" >Save</button>
        </div>
      </div>
    </div>
  </div>